@font-face {
    font-family: "Intro"; 
    src: url("../fonts/intro/intro.otf") format("truetype"); 
    font-style: normal; 
    font-weight: 400; 
    };
@font-face {
    font-family: "Ptsans"; 
    src: url("../fonts/ptsans/PTSans-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 700; 
    } 
@font-face {
    font-family: "Ptsans"; 
    src: url("../fonts/ptsans/PTSans-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 400; 
    } 